/***************************************************************

.c-btn-all  トップページ「すべて見る」ボタン

***************************************************************/
@use '../global/' as g;

.c-btn-all{
  padding-top: g.rem(12);
  padding-bottom: g.rem(12);
  padding-right: g.rem(12);
  padding-left: g.rem(12);
  width: 100%;
  max-width: g.rem(360);
  display: inline-block;
  font-size: g.rem(20);
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: g.$white;
  background-color: g.$bgBtn;
  border: g.rem(1) solid g.$white;
  text-align: center;
  position: relative;
  transition: all .3s;

  @include g.mq('tab'){
    padding-top: g.rem(6);
    padding-bottom: g.rem(6);
    padding-right: g.rem(27);
    padding-left: g.rem(27);
    max-width: g.rem(134);
    font-size: g.rem(16);
    font-weight: 500;
    letter-spacing: normal;
    color: g.$text;
    background-color: g.$white;
    border: none;
  }
}

.c-btn-all:hover{
  @include g.mq('tab'){
    color: g.$white;
  }
}

.c-btn-all::before{
  @include g.mq('tab'){
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: g.$bgBtn;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    transform-origin: right;
    transform: scale(0, 1);
    transition: transform .3s;
  }
}

.c-btn-all:hover::before{
  @include g.mq('tab'){
    transform-origin: left;
    transform: scale(1, 1);
  }
}
