/***************************************************************

.l-line-top 黄色ライン　上

***************************************************************/
@use '../global/' as g;

.l-line-top{
  position: relative;
  top: g.rem(119);
  left: 0;
  z-index: -100;

  @include g.mq('tab'){
    top: g.rem(85);
  }
}
