/***************************************************************

.l-line-under 黄色ライン　下

***************************************************************/
@use '../global/' as g;

.l-line-under{
  position: relative;
  top: g.rem(270);
  left: 0;
  z-index: -100;

  @include g.mq('tab'){
    top: g.rem(758);
  }
}
