/***************************************************************

.p-breadcrumb

***************************************************************/
@use '../global/' as g;

.p-breadcrumb{
  padding-top: g.rem(12);
  // padding-bottom: g.rem(16);
  font-size: g.rem(16);
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.0625em;
  color: g.$white;
}
