/***************************************************************

.p-mv-sub

***************************************************************/
@use '../global/' as g;

.p-mv-sub{
  height: g.rem(425);
  position: relative;

  @include g.mq('tab'){
    height: g.rem( 370);
  }
}

.p-mv-sub::before{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, .2);
  position: absolute;
  top: 0;
  left: 0;
}

.p-mv-sub__title{
  width: 100%;
  font-size: g.rem(30);
  font-weight: bold;
  letter-spacing: 0.066666em;
  color: g.$white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include g.mq('tab'){
    font-size: g.rem(35);
  }
}

.p-mv-sub__img{
  height: inherit;
}

.p-mv-sub__img > picture > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
