/***************************************************************

.p-news-archive

***************************************************************/
@use '../global/' as g;

.p-news-archive__inner{
  margin-right: auto;
  margin-left: auto;
  padding-right: g.rem(20);
  padding-left: g.rem(20);

  @include g.mq('tab'){
    padding-right: g.rem(25);
    padding-left: g.rem(25);
    width: 100%;
    max-width: g.rem(910);
  }
}

.p-news-archive__item{
  @include g.mq('tab'){
    display: flex;
    // align-items: center;
  }
}

.p-news-archive__item:not(:first-child){
  margin-top: g.rem(32);
}
